[Unit]
Description=bokku uWSGI Emperor
After=syslog.target

[Service]
ExecStart=/usr/local/bin/uwsgi-bokku --ini /home/bokku/.bokku/uwsgi/uwsgi.ini
User=bokku
Group=www-data
RuntimeDirectory=uwsgi-bokku
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target